.body {
  max-width: 1921px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  background: rgba(86, 145, 232, 0.1);
}

.page {
  box-sizing: border-box;
  padding: 0;
  max-width: 1260px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
}


.header {
  box-sizing: border-box;
  margin: 106px auto 65px;
  padding: 0;
  text-align: center;
}

.header__title {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  color: #1F1F8E;
  text-transform: uppercase;
}

.elements {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
  color: #FFF;
}

.elements__element {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 32.2%;
  height: 560px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.elements__element_type-flat {
  background-image: url(img/flat.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.elements__element_type-house {
  background-image: url(img/house.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.elements__element_type-business {
  background-image: url(img/business.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.elements__description {
  box-sizing: border-box;
  margin: 78px auto 0;
  padding: 0;
  position: absolute;
}

.elements__title {
  box-sizing: border-box;
  margin: 0 auto 38px;
  padding: 0;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
}

.elements__link {
  text-decoration: none;
}

.elements__choose {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 14px 33px 12px 33px;
  max-width: 152px;
  background: #5691E8;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFF;
  border: none;
  display: flex;
  align-items: center;
}

.elements__choose::after {
  margin-left: 12px;
  content: url(img/Vector51.svg);
}

@media (max-width: 1200px) {
  .page {
    width: 1140px;
  }
}

@media (max-width: 991px) {
  .page {
    width: 840px;
  }

  .elements__element {
    height: 420px;
  }

  .header__title {
    font-size: 25px;
  }

  .elements__title {
    font-size: 20px;
  }

  .elements__choose {
    padding: 12px 28px 10px 28px;
  }
}

@media (max-width: 768px) {
  .page {
    width: 640px;
  }

  .elements__element {
    height: 340px;
  }

  .header__title {
    font-size: 22px;
  }

  .elements__title {
    font-size: 18px;
  }

  .elements__choose {
    padding: 10px 25px 9px 25px;
    font-size: 14px;
  }

  .elements__choose::after {
    margin-left: 10px;
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .page {
    width: 450px;
  }

  .elements {
    display: block;
  }

  .elements__element {
    width: 80%;
    height: 460px;
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 25px;
  }

  .elements__title {
    font-size: 24px;
  }

  .elements__choose {
    padding: 14px 33px 12px 33px;
    font-size: 14px;
  }
}